body {
  font-family: DM Sans, Titan One, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 76;
  background-color: tomato;
}

ol,
ul {
  padding: 0;
  margin: 0;
}
