<section class="header-section">
    <ul class="header-section__list">
        <li class="header-section__item"><a href="#" class="header-section__link">Home</a></li>
        <li class="header-section__item"><a href="#" class="header-section__link">Abaut us</a></li>
        <li class="header-section__item"><a href="#" class="header-section__link">How it’s made?</a></li>
        <li class="header-section__item"><a href="#" class="header-section__link">Our products</a></li>
        <li class="header-section__item"><a href="#" class="header-section__link">Contact</a></li>
        <li class="header-section__item"><a href="#" class="header-section__link"></a></li>
    </ul>
    <button>Buy now</button>
</section>