<h1>Секция цвета teal </h1>
<div class="section--green">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem cumque, quo fugiat
  pariatur aspernatur sed earum distinctio voluptatem error commodi! Fuga minima qui consequatur ipsum provident eos
  minus sequi eius culpa eum esse, nobis totam facilis eaque consectetur nesciunt debitis in, commodi porro molestiae,
  pariatur soluta modi! Ipsum rem, minima aspernatur a harum, nobis dolores nostrum dignissimos corporis totam
  exercitationem obcaecati inventore, repellendus ea iure. Corporis ducimus non quasi labore ratione rerum animi natus
  totam illum molestias aut, distinctio dignissimos voluptas qui quisquam sunt iure modi similique id repellendus
  numquam eius et, officia perferendis? Reiciendis amet id beatae asperiores sit tenetur iusto mollitia consequatur
  nisi, accusamus eum consectetur. Unde nostrum voluptates ex. Illum neque asperiores sint et voluptas. Nemo
  exercitationem impedit illo, iusto velit nesciunt temporibus possimus aperiam dolor, repellat dolorem fuga quis
  obcaecati saepe totam illum ullam ut ipsa, minima provident. Laboriosam quasi cum, doloremque officia tempora quo
  porro optio autem itaque. Cumque.</div>