<section class="hero">
  <h2>Lorem ipsum dolor sit.</h2>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates veritatis ratione, impedit,
    unde animi nemo voluptas optio numquam quibusdam dolor explicabo! Itaque dolore fugiat nesciunt
    suscipit, cumque vitae doloribus repellat recusandae rerum porro. Tempore esse eaque, illum
    dignissimos ducimus iusto dicta temporibus vitae accusamus quaerat ab totam fugit asperiores
    atque. Expedita vero nulla sunt voluptatum quas explicabo dolorem sit labore fugiat, dolor
    ducimus doloribus incidunt impedit, accusamus quidem soluta voluptatibus?
  </p>
  <ul>
    <li class="list">
      <a href=""
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum nostrum a fugiat
        voluptates unde.</a
      >
    </li>
    <li class="list">
      <a href=""
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum nostrum a fugiat
        voluptates unde.</a
      >
    </li>
    <li class="list">
      <a href=""
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum nostrum a fugiat
        voluptates unde.</a
      >
    </li>
    <li class="list">
      <a href=""
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum nostrum a fugiat
        voluptates unde.</a
      >
    </li>
  </ul>
</section>
